@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

body {
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, p, a, span, label, input[type='text'], button {
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-size: 25px;
}

.menu {
    display: flex;
    align-items: center;
    padding: 5px 100px;
    justify-content: space-between;
    background-color: #241F14 ;
    box-shadow: 0px 0px 10px #000;
    color : #fff;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.boutonNavigations > ul,
.boutonConnecte > ul {
    display: flex;
    list-style: none;
}

.boutonMenu {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 0px 5px;
}

.boutonMenu:hover {
    background-color: rgba(255, 255, 255, 0.295);
    transition: 0.5s;
}

.logo > a{
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

.contenu {
    display: flex;
    justify-content: center;
    margin: 50px 100px;
}

.page {
    width: 100%;
}

.infos {
    width: 30%;
}

.page,
.infos {
    margin: 0px 10px;
    padding: 10px 20px;
    border: 1px solid #241F14;
}

.entetePage,
.enteteInfo {
    border-bottom: 1px solid #241F14;
}

.inputConnexion {
    margin: 10px 0px;
}

.inputConnexion > input {
    width: 50%;
}

.contenuCarte {
    display: flex;
}

.carteLoc {
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid #241F14;
    width: 50%;
}

.carteLoc_contenu {
    line-height: 10px;
}

.msgErreur {
    display: flex;
    align-items: center;
    border: 1px solid #241F14;
    margin: 10px 0px;
    padding: 5px;
    background-color: rgb(172, 25, 25);
    color: #fff;
}

.titreInfo {
    font-weight: 500;
}

.bouton {
    display: flex;
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid #241F14;
    justify-content: center;
    text-decoration: none;
    color: #000;
}

.bouton:hover {
    background-color: gray;
    transition: 0.5s;
    color: #fff;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0px;
    justify-content: center;
}

.nbPage,
.pagination > li > a {
    margin: 0px 10px;
    padding: 10px;
    border: 1px solid #241F14;
    color: #000;
    text-transform: none;
}